@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html, body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-color 0.5s ease;
    color: #f8f8f8;
  }

  body {
    background-color: #050505;
    background-image: linear-gradient(-45deg, #ffffff, #a199ff, #f5cefb, #ffffff);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
  }

  .dark body {
    background-color: #050505;
    background-image: linear-gradient(-45deg, #050505, #1d1b36, #050505, #111827);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    color: #f8f8f8;
  }

  @layer utilities {
    .animate-spiral {
      /* This is the magic: it tells the element to follow the SVG path with the ID '#spiral-path' */
      offset-path: path("M 300,300 A 50,50 0 0 1 250,300 A 50,50 0 0 1 300,250 A 100,100 0 0 1 200,250 A 100,100 0 0 1 300,150 A 150,150 0 0 1 150,150 A 150,150 0 0 1 300,0");
      animation: moveOnPath 15s linear infinite;
    }
  }
  
  @keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-24rem * 4));
    }
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }